DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres

PORT=3000

WB_API_TOKEN=token

GOOGLE_SERVICE_EMAIL=email
GOOGLE_PRIVATE_KEY=key
GOOGLE_SPREADSHEET_IDS=id,id